<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="img-responsive" style="max-height: 50px" src="assets/images/twitter.png"/>
    </div>
  </div>
</nav>

<div class="content mt-5">
  <div class="container">
    <h1 class="h2 mb-3 text-primary">Add new Tweet</h1>
    <div class="row">
      <div class="col-md-12 col-md-offset-6">
        <form #tweetForm="ngForm" (ngSubmit)="onSubmit(tweetForm)">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text"
                       id="username"
                       name="username"
                       required
                       ngModel
                       placeholder="username"
                       class="form-control">
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <textarea name="tweet" id="tweet"
                          required
                          ngModel
                          rows="5"
                          placeholder="What is happening?"
                          class="form-control">
                </textarea>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
               <input typpe="text"
               id="image"
               name="image"
               placeholder="Image URL"
               ngModel
                #image
               class="form-control">
              </div>
              <div class="form-group">
                <img [src]="image.value" alt="" style="max-height: 80px" class="img-responsive">
              </div>
            </div>
            <div class="col">
              <button class="btn btn-primary"
                      [disabled]="!tweetForm.valid"
                      type="submit"> TWEET
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-md-offset-6">
        <p *ngIf="loadedTwits.length < 1 && !isFetch"> No Tweets available!</p>
        <ul class="list-group" *ngIf="loadedTwits.length >=1 && !isFetch">
          <li class="list-group-item" *ngFor="let twit of loadedTwits">
            <div class="row">
              <div class="col">
                <p>{{twit.username}}</p>
              </div>
              <div class="col text-right">
                <a (click)="onDelete(twit.id)" class="text-danger" style="cursor: pointer" >X</a>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                  <img src="{{ twit.image }}" alt="" class="img-responsive" style="max-height: 150px;">
                </div>
                <div class="col">
                  <p>{{twit.tweet}}</p>
                </div>

            </div>
          </li>
        </ul>

        <p *ngIf="isFetch && !error">
          Loading...
        </p>
        <div class="alert alert-danger" *ngIf="error">
          <h2>An Error Occurred!</h2>
          <p>{{ error }}</p>
        </div>
      </div>


  </div>
  </div>
</div>
